
.cell_green {
    background: lawngreen;
    position: absolute;
}

.cell_blue {
    background: deepskyblue;
    position: absolute;
}

.cell_red {
    background: orangered;
    position: absolute;
}
